@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="jumbotron jumbotron-small jumbotron-single d-flex align-items-center">
  <div class="container text-center">
    <h1 class="display-2 mb-4">@Model.Name</h1>
  </div>
    <div class="container text-center">
    <p class="mb-4">This is from Header Partial View</p>
  </div>

</div>
