@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "layout.cshtml";
}

<div class="jumbotron jumbotron-small jumbotron-single d-flex align-items-center">
  <div class="container text-center">
    <h1 class="display-2 mb-4">@Model.Name</h1>
  </div>
</div>

@RenderBody()

<section class="bg-fixed overlay">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="mb-2">This one update from _ChildPage</h2>
                </div>
            </div>
        </div>
    </div>
</section>